<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Membuat layout</title>
</head>

<table width="100%">
    <tr>
        <td colspan="2" style="background-color: red">
            <h1> Jeader Program</h1>
        </td>
    </tr>

    <tr valign="top">
        <td width="20&" style="background-color: green">
            <strong> Sidebar </strong>
            <li> Home </li>
            <li> Product </li>
            <li> Support </li>
            <li> Pricing </li>
            <li> Log in </li>
        </td>

        <td  width="80%" height="200" style="background-color: whitesmoke">
           <h2><strong> Konten utama </strong></h2>
            <p> Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar </p>
        </td>
    </tr>

    <tr>
       <td colspan="2" style="background-color: aliceblue">
           <strong> Footer </strong>
       </td>
    </tr>

</table>

<body>

</body>
</html>